<?xml version="1.0" encoding="utf-8" ?>

<WebFrontConfiguration>
	<Font>
		<MainTitleSize></MainTitleSize>
		<MainTitleColor></MainTitleColor>
		<TitleSize></TitleSize>
		<TitleColor></TitleColor>
		<ContainerTitleSize></ContainerTitleSize>
		<ContainerTitleColor></ContainerTitleColor>
		<TextSize></TextSize>
		<TextColor></TextColor>
		<LinkSize></LinkSize>
		<LinkColor></LinkColor>
	</Font>
	<ColorTheme>
		<MainColor></MainColor>
		<SecondaryColor></SecondaryColor>
		<ContainerColor></ContainerColor>
		<ButtonColor></ButtonColor>
		<InputColor></InputColor>
	</ColorTheme>
</WebFrontConfiguration>